//- 這頁是 demo extends _master 用
extends _master
block variables
  - 
    var title = 'guide'
    var description = 'guide'

block content
  .page-guide hi guide
    .p-4
      .h1 文字樣式
      .h1 h1
      .h2 h2
      .h3 h3
      .h4 h4
      .h5 h5
      .h6 h6
block lastBody