//- 這頁是 demo extends _master 用
extends _master
block variables
  - 
    var title = 'Title'
    var description = 'Description'

block content
  .page-index-example hi INDEX
    .p-4
      .h2 全站都可以直接使用 bootstrap 的 class
      a.style-link(target="_blank" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/") https://getbootstrap.com/docs/4.0/getting-started/introduction/ 
      .row.align-items-center
        .col-6
          input.input(placeholder="TEST")
        .col-6
          img.img-test.w-100(src="~img/fb.png")
        .col-6
          .h1.cursor-pointer .cursor-pointer
          a.text-link.pointer-events-none(href="#") .pointer-events-none
          .h3.select-none .select-none
block lastBody