h1 Hello about
p I'm a cool Vite project!
<div class="space-y-4">
  <div class="w-96 bg-green-600 shadow rounded text-beige">
      | w-96
  </div>
  <div class="w-80 bg-white shadow rounded qmo">
    div(class="big")
      | w-80
  </div>
  <div class="w-72 bg-white shadow rounded">
      | w-72
  </div>
  <div class="w-64 bg-white shadow rounded">
      | w-64
  </div>
  <div class="w-60 bg-white shadow rounded">
      | w-60
  </div>
</div>