h1 Hello about

mixin formInput(className, number)
  include ../components/formInput.pug

form
  +formInput("form-input-1", 3)
  +formInput("form-input-2", 1)
  button(type="button" onclick="submitFunc()") submit
div(class="result")

script.
  const submitFunc = () => {
    document.querySelectorAll('input').forEach((item) => {
      item.focus()
      item.blur()
    })

    document.querySelector('.result').innerText = Array.from(document.querySelectorAll('form .valid')).every((e) => e.className.includes('text-green-400')) ? 'success' : 'fail'
  }