include ../components/header.pug
include ../components/list/activityCard.pug  
include ../components/pageSelector.pug 
include ../data/fakeData.pug


div(class="container pb-80px mt-64px")
  img(class="bg-bubble hidden md:block" src="img/bg-pink-pc.png", alt="" )
  img(class="bg-bubble md:hidden" src="img/bg-pink-mob.png", alt="")
  section(class="py-48px")
    h2(class="h1 text-s4") 活動訊息
  section
    div(class="grid gap-32px md:gap-48px")
      - for(i=0; i < activityList.length ; i++)
        +activityCard(activityList[i])
  div(class="mt-48px")
    +pageSelector()


include ../components/footer.pug