include ../components/header.pug
include ../components/list/activityCard.pug  
include ../components/pagingSelector.pug 
include ../data/fakeData.pug

div(class="container pb-80px mt-64px")
  section(class="py-48px")
    h2(class="h1 text-s4 my-48px") 活動訊息
  section(class="pb-80px")
    div(class="grid gap-32px md:gap-48px")
      - for(i=0; i < activityList.length ; i++)
        //- 主題顏色,資料
        +activityCard(activityList[i])
  div(class="mt-48px")
    +pagingSelector()