include ../components/header.pug
div(class="container pb-80px mt-64px")
  section 
    p(class="flex items-center text-xs text-gray3 pt-8px") HOME
      span(class="h-px bg-s2 w-2.5 block mx-[7px]")
      | 活動訊息
    h1(class="h1 py-48px") 米蘭傳播集團參加政治大學校園就業博覽會
    div(class="flex justify-between pb-20px")
      div(class="inline text-xl leading-150 text-s2") 2022.07.01
        span(class="text-xl leading-150 text-s2 px-[10px]") ~
        |2022.09.28
      div(class="flex") 
        a(href="#")
          img(src="/img/line-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="/img/facebook-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="/img/link-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="/img/print-g-icon.svg" , alt="", class="share-button", width=40)
    div(class="w-full h-0.5 linear-grad-2")
  section(class="pt-48px pb-80px")
    div(class="gap-[15px] flex items-center pb-20px")
      div(class="w-2 h-4 rounded-[30px] linear-grad-1")
      h2.h2 米蘭傳播集團前進校園！受邀參加政治大學舉辦的校園就業博覽會
    p(class="body text-gray2 pb-48px") 數位環境與科技行銷變化快速，因此我們更專注於平台規劃與互動體驗，以使用者為設計決策中心，在品牌與用戶間創造美好體驗；將數據結合科技創新，全方位掌握趨勢脈絡，提供你最適切並領先業界的解決方案。







