include ../components/header.pug
include ../components/pageNavigation.pug
include ../components/listItem.pug
include ../data/fakeData.pug

link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")

div(class="container pb-80px mt-64px")
  img(class="bg-bubble hidden md:block" src="img/bg-orange-pc.png", alt="" )
  img(class="bg-bubble md:hidden" src="img/bg-orange-mob.png", alt="")
  section 
    p(class="flex-center text-xs text-gray3 pt-8px") HOME
      span(class="h-px bg-s2 w-2.5 block mx-[7px]")
      |文章單元
    h1(class="h1 py-48px") 關於創意思境 MX Digi
    div(class="flex justify-between pb-20px flex-wrap gap-16px")
      div(class="flex-center gap-8px md:gap-20px")
        div(class="text-gray2 border-gray2 tage-button") 文章分類
        div(class="text-[13px] leading-150 text-gray3") 2022.07.01
      div(class="flex") 
        a(href="#")
          img(src="img/line-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="img/facebook-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="img/link-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="img/print-g-icon.svg" , alt="", class="share-button", width=40)
    div(class="w-full h-0.5 linear-grad-2")
  section(class="pt-48px")
    div(class="intro-area mb-48px")  
      div(class="bg-w1 w-[73px] h-px")
      p MX專注於平台規劃與體驗互動設計，以使用者為設計決策中心，在品牌與用戶間創造美好體驗；以數據為源結合科技創新，全方位掌握趨勢脈絡，提供你最適切的解決方案。
      
    // 置中字 標題要下：justify-center 一般字： text-center
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 MX創意思境，源自米蘭傳播集團
    // Note裡面標題mb-20px, 文字 圖片 底下都是間隔48px mb-48px
    p(class="body text-gray2 text-center mb-48px") 米蘭傳播集團是一家專注於數位行銷和傳播解決方案的公司，我們致力於為客戶提供創新的營銷策略和解決方案。在本次博覽會上，我們將展示我們的服務和提供有關職業機會的資訊。
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 虛實互動
    p(class="body text-gray2 text-center mb-48px") 數位環境與科技行銷變化快速，因此我們更專注於平台規劃與互動體驗，以使用者為設計決策中心，在品牌與用戶間創造美好體驗；將數據結合科技創新，全方位掌握趨勢脈絡，提供你最適切並領先業界的解決方案。
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 體驗設計
    p(class="body text-gray2 text-center mb-48px") 從使用者出發，以情境體驗為設計核心，從前期規劃、落地執行到優化更迭，透過團隊各角色的緊密整合，為每個專案提供最適切的專屬體驗。
    a(href="#" class="link-text mx-auto mb-48px") 更多精彩案例分享
      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 11.0001L18.1563 11.0001M18.1563 11.0001L13.9137 6.75742M18.1563 11.0001L13.9137 15.2427" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    +listItem()
    div(class="button-primary group mb-48px mx-auto")
      div(class="button-text text-s3 group-hover:text-w1") 聯絡我們，一起來聊聊吧！
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="button-icon text-s3 group-hover:text-w1">
        <path d="M1.50024 7.99958L14.9242 7.99967M14.9242 7.99967L9.35574 2.43121M14.9242 7.99967L9.35573 13.5681" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    div(class="button-primary group mb-48px mx-auto")
      div(class="button-text text-s3 group-hover:text-w1") 創意思境公司簡介檔案下載
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="button-icon text-s3 group-hover:text-w1">
        <path d="M2.25 11.9375V13.5313C2.25 13.9539 2.41791 14.3593 2.7168 14.6582C3.01568 14.9571 3.42106 15.125 3.84375 15.125L13.4063 15.125C13.8289 15.125 14.2343 14.9571 14.5332 14.6582C14.8321 14.3593 15 13.9539 15 13.5313V11.9375M11.8125 8.75L8.625 11.9375M8.625 11.9375L5.4375 8.75M8.625 11.9375V2.375" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    //- 左右圖文
    div(class="flex justify-between flex-col md:flex-row gap-20px md:gap-32px mb-48px")
      div(class="basis-7/12")
        img(src="https://fakeimg.pl/1300x732/?text=16:9", alt="", srcset="")
      div(class="xl:pt-32px flex flex-col justify-between basis-5/12 xl:basis-[490px] gap-48px md:gap-0")
        div(class="")
          h2(class="h2 mb-10px md:mb-20px") 技術整合
          p(class="body text-gray2") 程式應用無所不在，互動裝置、網站、系統、社群、電商、顧客管理等，我們擁有堅實的技術團隊，結合跨領域產業經驗，為企業的數據戰略提供最佳方案。
        div(class="flex gap-8px") 
          div(class="tage-button") 標籤文字
          div(class="tage-button") 標籤文字
    //- 左右圖文
    div(class="flex justify-between flex-col md:flex-row-reverse gap-20px md:gap-32px mb-48px")
      div(class="basis-7/12")
        img(src="https://fakeimg.pl/1300x732/?text=16:9", alt="", srcset="")
      div(class="xl:pt-32px flex flex-col justify-between basis-5/12 xl:basis-[490px] gap-48px md:gap-0")
        div(class="")
          h2(class="h2 mb-10px md:mb-20px") 虛實互動
          p(class="body text-gray2") 程式應用無所不在，互動裝置、網站、系統、社群、電商、顧客管理等，我們擁有堅實的技術團隊，結合跨領域產業經驗，為企業的數據戰略提供最佳方案。
        div(class="flex gap-8px") 
          div(class="tage-button") 標籤文字
          div(class="tage-button") 標籤文字

    //- 單圖
    figure(class="mb-48px") 
      img(src="https://fakeimg.pl/1300x732/?text=16:9", alt="", srcset="")
      figcaption(class="body text-gray2 text-center py-8px md:py-16px") 圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    //- 多圖輪播
    div(class="mb-48px w-screen ml-[50%] -translate-x-2/4")
      div(class="swiper swiper-images")
        div(class="swiper-wrapper")
          div(class="swiper-slide" data-text="1圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片")
            img(src="https://picsum.photos/1600/900", alt="", srcset="")
          div(class="swiper-slide" data-text="2片描述圖片描述圖片描述圖片")
            img(src="https://picsum.photos/1600/900", alt="", srcset="")
          div(class="swiper-slide" data-text="3描述圖片描述圖片描述圖片")
            img(src="https://picsum.photos/1600/900", alt="", srcset="")
          div(class="swiper-slide" data-text="4描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片")
            img(src="https://fakeimg.pl/2400x1800/?text=xxx", alt="", srcset="")
        div(class="swiper-button-next")
          img(src="img/arrow-icon.svg", alt="", width="20", height="20")
        div(class="swiper-button-prev")
          img(src="img/arrow-icon.svg", alt="", width="20", height="20" class="rotate-180")
        div(class="container")
          div(class="swiper-pagination")
      // 多圖輪播文字說明 - 預設放第一圖片文字說明
      div(class="relative max-w-[900px] mx-auto px-24px md:px-48px")
        p(class="image-text text-gray2 body text-center") 1圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    //- youtube - iframe
    div(class="mb-48px w-full")
      iframe(width="1600" class="aspect-video w-full" src="https://www.youtube.com/embed/9qMljNKrucU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
      p(class="body text-gray2 text-center py-8px md:py-16px") 圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    //- 切換頁面
    +pageNavigation(pageNavigationList[0])

include ../components/footer.pug






