include ../components/header.pug
include ../components/list/articleCard.pug 
include ../components/pageSelector.pug  
include ../data/fakeData.pug

div(class="container pb-80px mt-64px")
  img(class="bg-bubble hidden md:block" src="img/bg-orange-pc.png", alt="" )
  img(class="bg-bubble md:hidden" src="img/bg-orange-mob.png", alt="")
  section(class="py-48px")
    h1(class="h1 text-s4") 文章單元
  section
    div(class="mb-48px mt-16px flex gap-8px flex-wrap")
        // --- Tab 灰色版本 ---
        div(data-value="all" class="tab tab-button gray1") 全部消息
        div(data-value="discount" class="tab tab-button gray1") 優惠訊息
        // Note 選取狀態是加 is-active
        div(data-value="member" class="tab tab-button is-active gray1") 會員限定selected
        div(data-value="brand" class="tab tab-button gray1") 品牌新知
        div(data-value="post" class="tab tab-button gray1") 企業公告
    section
      div(class="grid justify-between md:grid-cols-3-card gap-32px md:gap-[30px] xl:gap-x-[unset] gap-y-48px")
        - for(i=0; i < articleList.length ; i++)
          +articleCard(articleList[i])
    div(class="mt-48px")
        +pageSelector()

include ../components/footer.pug
// tab切換js 
script.
  const tabList = document.querySelectorAll('.tab');
  tabList.forEach((item) => {
    item.addEventListener('click', (e) => {
      document.querySelectorAll('.tab').forEach((el) => {
      el.classList.remove('is-active');
      });  
    item.classList.add('is-active');
    const currentValue = e.target.dataset.value;
    if(currentValue === 'all') {
      document.querySelectorAll('.list-card').forEach((el) => {
        el.classList.remove('hidden');
      });
      return
    }
    document.querySelectorAll('.list-card').forEach((el) => {
      console.log('test', el.dataset.value)
      el.classList.toggle('hidden', el.dataset.value !== currentValue)
    });
  });
  });