include ../components/header.pug
include ../components/pageNavigation.pug
include ../data/fakeData.pug
//0822 link,script 改成 @8
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

div(class="container pb-80px mt-64px")
  //- bg-blue背景
  img(class="bg-bubble hidden md:block" src="assets/img/bg-blue-pc.png", alt="" )
  img(class="bg-bubble md:hidden" src="assets/img/bg-blue-mob.png", alt="")
  section 
    p(class="flex-center text-xs text-gray3 pt-8px") HOME
      span(class="h-px bg-s2 w-2.5 block mx-[7px]")
      | 最新消息
    h1(class="h1 py-48px") 數位改變的起點，轉化數位經驗的起點
    div(class="flex justify-between pb-20px")
      div(class="flex-center gap-10px")
        div(class="tage-button text-s2 border-s2") 消息分類
        div(class="text-gray3 text-[13px] leading-150") 2022.07.01
      // 0802 請加此加上 self-end
      div(class="flex self-end") 
        a(href="#")
          img(src="assets/img/line-g-icon.svg" , alt="", class="share-button", width=40) 
        a(href="#")
          img(src="assets/img/facebook-g-icon.svg" , alt="", class="share-button", width=40) 
        //複製按鈕- data-link 要加上連結網址 ，且在 class 加上 copy-button
        a(class="copy-button" data-link="https://google.com")
          img(src="assets/img/link-g-icon.svg" , alt="", class="share-button ", width=40) 
    div(class="w-full h-0.5 linear-grad-2")
  section(class="pt-48px")
    //0802 標題置中請加class justify-center
    //0802 標題置右請加class justify-end
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 米蘭傳播集團前進校園！受邀參加政治大學舉辦的校園就業博覽會
    //- Note裡面文字 圖片 底下都是間隔48px mb-48px
    //0802 內文置中請加class text-center
    //0802 內文置右請加class text-right
    p(class="body text-gray2 mb-48px") 數位環境與科技行銷快速變化，因此我們更專注於平台規劃與互動體驗，以使用者為設計決策中心，在品牌與用戶間創造美好體驗；將數據結合科技創新，全方位掌握趨勢脈絡，提供你最適切並領先業界的解決方案。
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 開啟數位想像的交點
    p(class="body text-gray2 mb-48px") 虛實相互交疊，數據混搭應用，體驗持續更迭...準備好和我們來場數位衝浪了嗎？
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      .linear-grad-1(class="title-dot")
      h2.h2 虛實互動
    p(class="body text-gray2 mb-48px") 從實體到虛擬，我們重視使用者的每一次互動經驗，理性思考，感性呈現，結合科技應用，創造令人難忘的美好體驗。
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 體驗設計
    p(class="body text-gray2 mb-48px") 從使用者出發，以情境體驗為設計核心，從前期規劃、落地執行到優化更迭，透過團隊各角色的緊密整合，為每個專案提供最適切的專屬體驗。
    div(class="gap-10px md:gap-[15px] flex md:items-center pb-20px")
      div(class="title-dot")
      h2.h2 技術整合
    p(class="body text-gray2 mb-48px") 程式應用無所不在，互動裝置、網站、系統、社群、電商、顧客管理等，我們擁有堅實的技術團隊，結合跨領域產業經驗，為企業的數據戰略提供最佳方案。
    // 按鈕 網址連結請加在 href 裡
    a(class="button-primary group mx-auto mb-48px" href="#")
      div(class="button-text text-s3 group-hover:text-w1") MX 創意思境 官方網站
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="button-icon text-s3 group-hover:text-w1">
        <path d="M1.50024 7.99958L14.9242 7.99967M14.9242 7.99967L9.35574 2.43121M14.9242 7.99967L9.35573 13.5681" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    // 單圖
    //0802在 img 上加上class w-full
    figure(class="mb-48px") 
      img(src="https://fakeimg.pl/1300x732/?text=16:9", alt="", class="w-full")
      figcaption(class="body text-gray2 text-center py-8px md:py-16px") 圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    // 多圖輪播
    // 0822 當多圖輪播區塊 圖片數量 > 1 才使用 multSwiperImage() function
    div(class="mb-48px w-screen ml-[50%] -translate-x-2/4")
      div(class="swiper swiper-images")
        div(class="swiper-wrapper")
          - for(i=0; i < 2 ; i++)
            // 一個 banner start
            div(class="swiper-slide" data-text="1圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片")
              img(src="https://fakeimg.pl/1600x900/?text=16:9", alt="", srcset="")
            // 一個 banner end
        div(class="swiper-button-next")
          img(src="assets/img/arrow-icon.svg", alt="", width="20", height="20")
        div(class="swiper-button-prev")
          img(src="assets/img/arrow-icon.svg", alt="", width="20", height="20" class="rotate-180")
        div(class="container")
          div(class="swiper-pagination")
      // 多圖輪播文字說明 - 預設放第一圖片文字說明
      div(class="relative max-w-[900px] mx-auto px-24px md:px-48px")
        p(class="image-text text-gray2 body text-center") 這裡請放第一張圖片的描述
    // youtube - iframe
    div(class="mb-48px w-full relative")
      //iframe 裡面加上 id跟class加上 iframe-youtube 
      <iframe id="iframe-youtube" class="iframe-youtube aspect-video w-full" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" frameborder="0">
      </iframe>
      // 預覽圖 class 加上 yt-cover
      //0802 改變yt-cover結構並加入 play-btn IMG
      div(class="yt-cover")
        img(src="https://fakeimg.pl/1600x900/?text=Youtube-Cover" class="absolute top-0 pointer-events-none cursor-pointer trans-effect")
        img(src="assets/img/play-btn.svg" class="absolute top-1/2 left-1/2 z-40 -translate-x-1/2 -translate-y-1/2 trans-effect pointer-events-none cursor-pointer")
      p(class="body text-gray2 text-center py-8px md:py-16px") 圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    //- 影片- video
    //- div(class="mb-48px")
    //-   div(class="relative w-full overflow-hidden")
    //-     video(poster="" controls, muted, class="w-full h-full object-cover top-0 left-0 aspect-video")
    //-       source(src="#")
    //-   p(class="body text-gray2 text-center py-16px") 圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片描述圖片
    // 切換頁面
    +pageNavigation(pageNavigationList[0])

include ../components/footer.pug
// 此程式碼是youtube 預覽圖顯示
script.
  // 引入youtube-api
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  // player 綁定影片的 id = iframe-youtube
  let player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('iframe-youtube', {
      playerVars: {
        'playsinline': 1
      },
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }
  function changeStatus(playerStatus) {
    if(playerStatus == -1 ) {
    document.getElementById('iframe-youtube').classList.remove('is-active');
    return
    }
    document.getElementById('iframe-youtube').classList.add('is-active');
  }
  function onPlayerStateChange(event) {
    changeStatus(event.data);
  }





