include ../components/header.pug
include ../components/list.pug 
include ../components/pagingSelector.pug 
-
  const tabList = [
    { text:"全部消息", val: "all" },
    { text:"優惠訊息", val: "discount" },
    { text:"會員限定", val: "member" },
    { text:"品牌新知", val: "brand" },
    { text:"企業公告", val: "post" },
  ]
  const fakeList = [
    {
      sort:"消息分類",
      time:'2022.07.01',
      title:'數位改變的起點，轉化數位經驗的起點',
      content:'數位環境與科技行銷快速變化，因此我們更專注於平台規劃與互動體驗，以使用者為設計決策中心，在品牌與用戶間創造美好體驗',
      dataValue:"discount",
    },
    {
      sort:"消息分類2",
      time:'2022.07.01',
      title:'數位改變的起點，轉化數位經驗的起點',
      content:'內容摘要80字。王它哪。豆娘燈壯收好貫交玉，英戊氣枝流冒錯色：貫立几休童寫國進快片地訴還行、東新怎收玉言采雪讀成草又頭寸夏水相：春急食，找步三何。',
      dataValue:"member",
    },
    {
      sort:"消息分類3",
      time:'2022.07.03',
      title:'數位改變的起點，轉化數位經驗的起點',
      content:'內容摘要80字。王它哪。豆娘燈壯收好貫交玉，英戊氣枝流冒錯色：貫立几休童寫國進快片地訴還行、東新怎收玉言采雪讀成草又頭寸夏水相：春急食，找步三何。',
      dataValue:"post",
    },
    {
      sort:"消息分類4",
      time:'2022.07.02',
      title:'數位改變的起點，轉化數位經驗的起點',
      content:'內容摘要80字。王它哪。豆娘燈壯收好貫交玉，英戊氣枝流冒錯色：貫立几休童寫國進快片地訴還行、東新怎收玉言采雪讀成草又頭寸夏水相：春急食，找步三何。',
      dataValue:"brand",
    },
  ];
//- .bg-blue
.container.pb-80px.mt-64px
  //- img.md_block.absolute(class="top-[60px] w-[1260px] max-h-[500px] object-contain -translate-x-2/4 left-[50%]" src="/img/bg-blue-pc.png", alt="" )
  //- img.md_hidden.block.absolute(src="/img/bg-blue-mob.png", alt="", class="w-[1000px] top-[60px] ")
  section.py-48px
    h1.h1.text-s4 最新消息
  section.pb-80px
    .pb-48px.flex.gap-8px.flex-wrap
      each item in tabList
        .tab.tab-button(data-value=item.val)=item.text
    .grid.gap-24px
      - for(i=0; i < fakeList.length ; i++)
        //- 主題顏色,資料
        +listCard(fakeList[i],fakeList[i].dataValue)
    .mt-48px 
        +pagingSelector()
        

