include ../components/header.pug
include ../components/list/newsCard.pug  
include ../components/pageSelector.pug 
include ../data/fakeData.pug

div(class="container pb-80px mt-64px")
  //- bg-blue背景
  img(class="bg-bubble hidden md:block" src="assets/img/bg-blue-pc.png", alt="")
  img(class="bg-bubble md:hidden" src="assets/img/bg-blue-mob.png", alt="")
  section(class="py-48px")
    h1(class="h1 text-s4") 最新消息
  section
    div(class="mb-48px mt-16px flex gap-8px flex-wrap")
        // Note 選取狀態是加 is-active
        //0804 加上data-catalog 的值並移除第一個is-active
        div(data-value="all" data-catalog="0" class="tab tab-button") 全部消息
        div(data-value="discount" data-catalog="4" class="tab tab-button") 優惠訊息
        div(data-value="member" data-catalog="7" class="tab tab-button") 會員限定
        div(data-value="brand" data-catalog="6" class="tab tab-button") 品牌新知
        div(data-value="post" data-catalog="11" class="tab tab-button") 企業公告
    div(class="grid gap-24px")
      - for(i=0; i < fakeList.length; i++)
        // 一個 卡片 start
        +newsCard(fakeList[i])
        // 一個 卡片 end
      //0802當沒有資料時。請將此移除 hidden START
      p.hidden.body 目前無資料
      //0802當沒有資料時。請將此移除 hidden END
    div(class="mt-48px")
        +pageSelector()
        
include ../components/footer.pug
// 0804 這邊js 移到該頁js 
