//- padding 尚未確定要改成偶數
.bg-black.py-32px
  .container
    .flex.justify-center.lg_justify-between
      .footer-content.text-center.lg_text-left
        img(src="", alt="", width="209", height="70", class="block mx-auto lg_mx-0")
        p.footer-text.text-white 110台北市信義區信義路五段150巷2號20號樓之3
        a.footer-textt.text-white.underline(href="mailto:service@mxdigi.com") service@mxdigi.com
        p(class="mt-20px text-white text-[12px] font-normal leading-tight") © Copyright MX Digi Co., Ltd. All rights reserved.
      .footer-media 
        .hidden.lg_flex.gap-20px 
          a(href="#")
            img(src="", alt="", width="50", height="50")
          a(href="#")
            img(src="", alt="", width="50", height="50")

