div(class="bg-gray1 py-32px")
  div(class="container")
    div(class="flex justify-center lg:justify-between")
      div(class="footer-content text-center lg:text-left")
        img(src="img/footer-logo.svg", alt="", width="209", height="70", class="block mx-auto lg:mx-0")
        p(class="body text-w1 leading-160") 110台北市信義區信義路五段150巷2號20號樓之3
        a(class="body text-w1 underline leading-160" href="mailto:service@mxdigi.com") service@mxdigi.com
        p(class="mt-20px text-w1 text-xs font-normal leading-tight") © Copyright MX Digi Co., Ltd. All rights reserved.
      div(class="footer-media")
        div(class="hidden lg:flex gap-20px")
          a(class="p-[15px] border border-solid border-w1 rounded-[100px] hover:bg-[#F3F3F3]/20" href="#")
            img(src="img/facebook-w-icon.svg", alt="facebook", width="20", height="20")
          a(class="p-[15px] border border-solid border-w1 rounded-[100px] hover:bg-[#F3F3F3]/20" href="#")
            img(src="img/youtube-w-icon.svg", alt="youtube", width="20", height="20")

