//- padding 尚未確定要改成偶數
.bg-gray1.py-32px
  .container
    .flex.justify-center.lg_justify-between
      .footer-content.text-center.lg_text-left
        img(src="/img/footer-logo.svg", alt="", width="209", height="70", class="block mx-auto lg_mx-0")
        p.body.text-w1.leading-160 110台北市信義區信義路五段150巷2號20號樓之3
        a.body.text-w1.underline.leading-160(href="mailto:service@mxdigi.com") service@mxdigi.com
        p(class="mt-20px text-w1 text-xs font-normal leading-tight") © Copyright MX Digi Co., Ltd. All rights reserved.
      .footer-media 
        .hidden.lg_flex.gap-20px 
          a(class="p-[15px] border border-solid border-w1 rounded-[100px]" href="#")
            img(src="/img/facebook-w-icon.svg", alt="facebook", width="20", height="20")
          a(class="p-[15px] border border-solid border-w1 rounded-[100px]" href="#")
            img(src="/img/youtube-w-icon.svg", alt="youtube", width="20", height="20")

