div(class=`${className} flex flex-col mb-2`)
  input(type="text" class="form-input border-gray1 border-2 focus:outline-none")
  div(class="valid-message-box text-red-400 flex flex-col")
    while number--
      span(class="valid")