.bg-white
  .flex
    .linear-grad-1(class="w-1/2 h-0.5")
    .linear-grad-2(class="w-1/2 h-0.5")
  .container.flex.justify-between.items-center.py-16px 
    .relative 
      img(src="#", alt="", width="244", height="29")
    ul.hidden.md_flex.gap-40px 
      li
        a(class="text-[16px] font-normal leading-150 tracking-[0.48px] text-dark-gray" href="#") 最新消息
      li
        a(class="text-[16px] font-normal leading-150 tracking-[0.48px] text-dark-gray" href="#") 活動訊息
      li
        a(class="text-[16px] font-normal leading-150 tracking-[0.48px] text-dark-gray" href="#") 文章單元
      

