mixin listItem()
  div(class="p-20px border-y border-solid border-[#005D91]/50 mb-48px")
    h2(class="h2 mb-10px") 亮點特色
    ul(class="flex flex-col gap-10px pl-[20px]")
      li(class="body text-gray2 list-disc") 從實體到虛擬，我們重視使用者的每一次互動經驗，理性思考，感性呈現，結合科技應用，創造令人難忘的美好體驗。
      li(class="body text-gray2 list-disc") 從使用者出發，以情境體驗為設計核心，從前期規劃、落地執行到優化更迭，透過團隊各角色的緊密整合，為每個專案提供最適切的專屬體驗。
      li(class="body text-gray2 list-disc") 程式應用無所不在，互動裝置、網站、系統、社群、電商、顧客管理等，我們擁有堅實的技術團隊，結合跨領域產業經驗，為企業的數據戰略提供最佳方案。