mixin pagingSelector()
  .flex.gap-48px.items-center.justify-center
    .flex.gap-10px
      .paging-arrow.text-gray3.border-gray3.hover_bg-gray3
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.125 11L6.125 7L11.125 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <line x1="4" y1="2.5" x2="4" y2="11.5" stroke="currentColor" stroke-linecap="round"/>
        </svg>
      .paging-arrow.text-gray3.border-gray3.hover_bg-gray3
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.125 12.25L4.875 7L10.125 1.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .flex.gap-10px
      .paging-number 1
    .flex.gap-10px
      .paging-arrow.rotate-180.text-gray3.border-gray3.hover_bg-gray3
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.125 11L6.125 7L11.125 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <line x1="4" y1="2.5" x2="4" y2="11.5" stroke="currentColor" stroke-linecap="round"/>
        </svg>
      .paging-arrow.rotate-180.text-gray3.border-gray3.hover_bg-gray3
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.125 12.25L4.875 7L10.125 1.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>