@require 'common'

.page-index-example
  // #NOTE: 本頁 (index.html) 的CSS，請寫在這邊


  // #NOTE: 注意所有 RWD 請務必要從小 size 寫到大 size (即 @media (min-width: XXX) 寫法)，並使用規定的 breakpoint，
  // 建議使用已經定義好的: +sm()、+md()、+lg()、+xl()、+xxl()、+fhd() MIXIN函式。
  // 相關檔案: src\css\mixins\_mediaQuery.styl
  .img-test
    border 2px dotted orange
    +md()
      border 4px dashed deeppink
    +xl()
      border 12px double purple