// #NOTE: 這裡是各種不會產生CSS的內容，例如可供引用的常數、函式等
  
// 動畫速度值
@require '_ease'
// 專案所會用到的自訂變數
@require '_variables'
// 表單元件使用的寬度、顏色變數，可以快速產出表單元件樣式
@require '_formVariables'
// 可供引用的STYLUS函式
@require '_funs'
// 可供引用的STYLUS media query 函式
@require '_mediaQuery'