// #NOTE: 這裡是寫 GUIDELINE 定義的各種 container 樣式，或更改 .container 的樣式

// https://v5.getbootstrap.com/docs/5.0/layout/containers/
// 新增一個 bootstrap5 breakpoint
.container
  +mediaUp(1400px)
    max-width 1320px