// #NOTE: 要使用顏色列表產生哪些CLASS，寫在這邊
  
for getName, getColor in BOOSTRAP_COLORS
  .text-{getName} // override bootstrap
    color getColor !important
  .bg-{getName} // override bootstrap
    background-color getColor !important
  .border-{getName} // override bootstrap
    border-color getColor !important